.header {
  width: calc(100% - 400px);
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 31px;
  padding-top: 25px;
}

.header a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
